{{ page.global_header }}
<div id="js-site-header" class="site-header">
  <div class="container">
    <a class="logo" href="/">
      <img class="logo__image" src="/{{ directory }}/images/logo.svg" alt="Logo">
      {#<span class="logo__branch"></span>#}
    </a>

    <div class="header-right">
      <div class="social-media">
        <p class="social-media__hashtag">#detdertæller</p>
        <a Class="social-media__link" href="/">
          <svg class="social-media__instagram">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{ directory }}/icons/icons.svg#instagram-logo"></use>
          </svg>
        </a>
        <a Class="social-media__link" href="/">
          <svg class="social-media__facebook">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{ directory }}/icons/icons.svg#facebook-logo"></use>
          </svg>
        </a>
      </div>

      <button class="navigation-button">
        <svg class="navigation-button__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{ directory }}/icons/icons.svg#burger-menu"></use>
        </svg>
      </button>

      <button id="js-mobile-navigation-open" class="mobile-navigation-button mobile-navigation-button--site-header">
        <span class="mobile-navigation-button__icon"></span>
      </button>
    </div>

    {{ page.header }}
    {#<button id="js-mobile-navigation-open" class="mobile-navigation-button mobile-navigation-button--site-header">
      <span class="mobile-navigation-button__icon"></span>
    </button>#}
  </div>
</div>
{% include directory ~ '/templates/navigation/mobile-navigation.html.twig' %}
{{ page.highlighted }}
{{ page.help }}
{{ page.content }}
<footer class="site-footer">
  <div class="container">
    {{ page.footer }}
    {{ page.footer_below }}
  </div>
</footer>