{#<div class="row">#}
  {#{{ content }}#}
{#</div>#}

<div class="site-footer__inner">
  <img class="site-footer__logo" src="/{{ directory }}/images/Syddjurs-logo.svg" alt="Logo">
  <div class="site-footer__text">
    <p>Syddjurs Kommune </br>
      Lundbergsvej 2 </br>
      8400 Ebeltoft
    </p>
    <p>
      Telefon · 87 53 50 00 </br>
      Email · syddjurs@syddjurs.dk </br>
    </p>
    <p>
      www.syddjurs.dk
    </p>
  </div>
  {#{{ content }}#}

  <div class="social-media">
    <p class="social-media__hashtag">#detdertæller</p>
    <a Class="social-media__link" href="/">
      <svg class="social-media__instagram">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{ directory }}/icons/icons.svg#instagram-logo"></use>
      </svg>
    </a>
    <a Class="social-media__link" href="/">
      <svg class="social-media__facebook">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{ directory }}/icons/icons.svg#facebook-logo"></use>
      </svg>
    </a>
  </div>
</div>
